@model IEnumerable<HealthCareBooking.Models.Doctor>

@{
    ViewData["Title"] = "Danh sách Bác sĩ";
}

<h1>Danh sách Bác sĩ</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới Bác sĩ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialty)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>